name: Release

on:
  release:
    types:
      - published

jobs:
  goreleaser:
    name: Build with goreleaser
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Install build dependencies
        run: |
          sudo apt -y install clang linux-tools-common linux-tools-$(uname -r) llvm

      - name: Clean up disk space
        run: |
          sudo rm -rf \
            /opt/google/chrome \
            /opt/microsoft/msedge \
            /opt/microsoft/powershell \
            /usr/lib/mono \
            /usr/local/julia* \
            /usr/local/share/chromium \
            /usr/local/share/powershell \
            /usr/share/dotnet \
            /usr/share/swift

      - name: Configure parallelism
        run: echo "PARALLELISM=$(($(nproc) - 2))" >> "${GITHUB_ENV}"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --parallelism ${{ env.PARALLELISM }}
        env:
          BUILD_USER: ${{ github.actor }} (via Github Actions)
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
