---
name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  goreleaser:
    name: Build with goreleaser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Install build dependencies
        run: |
          sudo apt -y install clang linux-tools-common linux-tools-$(uname -r) llvm

      - name: Configure parallelism
        run: echo "PARALLELISM=$(($(nproc) - 2))" >> "${GITHUB_ENV}"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --skip=publish --snapshot --parallelism ${{ env.PARALLELISM }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: tc-cpumap
          path: dist/

  codechecks:
    name: Code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Install build dependencies
        run: |
          sudo apt -y install clang linux-tools-common linux-tools-$(uname -r) llvm

      - name: Bootstrap
        run: ./boot.sh

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          only-new-issues: true

      - name: Govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: ""
          check-latest: true
          go-version-file: "go.mod"
          cache: false
          repo-checkout: false
